
:root {
  --acento: #fd7a50;
  --acento2: #6efdb0;
  --claro: #f0f0f0;
  --claro2: #c7c7c7;
  --oscuro: #222222;
  --oscuro2: #434343;

}

.acento {
  color: var(--acento)
}

.acento2 {
  color: var(--acento2)
}

* {
  font-family: Verdana, fantasy;
}


.contenedorChat{
  margin: 0px;
  padding: 0px;
  height: 700px;
}

.row{
  padding: 0;
  margin: 0;
}

.contenedorPrincipal{
  background-color: #4a494a;
  height: 700px;
}

.contenedorPanelUsuario{
  background-color: #fd7a50;
  height: 700px;
}
